@charset "utf-8";
/* CSS Document */

.perfil{
	margin-top: 30px;
	margin-bottom: 30px;
	height: 40px;
	width: 40px;
    object-fit: cover;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background: linear-gradient(to bottom, #3e2723, #1b1b1b);
}

.sidebar .profile-section {
    color: #f8f9fa;
}

.sidebar .nav-link {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background 0.3s;
}

.sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

hr {
    border-color: rgba(0, 0, 0, 0);
}

header{
	background-color: #F1E9CA;
	height: 100px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #3E2308;
	border-radius: 0 0 5px 5px;
	color: #3E2308;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	background-color: #FFFCEF !important;
}

body h1{
	margin-top: 30px;
	padding-top: 30px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.perfil{
	margin-top: 30px;
	height: 40px;
	width: 40px;
    object-fit: cover;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pag-1{
	color: #272727;
	font-size: 16px;
	font-weight: bold;
}

.pag-2{
	color: #C8CABF;
	font-size: 16px;
	font-weight: bold;
}

.scroll-container{
	display: flex;
	overflow-x: auto;
	padding: 15px;
	gap: 20px;
	scrollbar-width: none;
}

.card-albums{
	flex: 0 0 auto;
	width: 135px;
	text-align: center;
}

.album-titulo{
	font-size: 16px;
	color: #000000;
	margin: 10px 20px 2px 1px;
	text-align: left;
	font-weight: 500;
}

.album-artist{
	font-size: 14px;
	color: #000000;
	text-align: left;
}

.album-img {
	width: 100%;
	height: auto;
	border-radius: 8px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.titulo-seccion{
	padding-left: 15px;
	font-size: 20px;
	font-weight: bold;
}

.card-review{
	flex: 0 0 auto;
	width: 135px;
	text-align: center;
}

.review-score1{
	position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: #2C6E49;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
}

.review-score2{
	position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: #558C00;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
}

.review-score2{
	position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: #558C00;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
}

.review-score3{
	position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: #BB9411;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
}

.review-score4{
	position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: #0D7800;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
}

.review-score5{
	position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: #781314;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
}

.review-image-container {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 8px;
}

.review-info{
	font-size: 16px;
	color: #000000;
	text-align: left;
    margin-top: 0.4rem;
	font-weight: 500;
}

.card-friends{
	flex: 0 0 auto;
	height: 200px;
	width: 135px;
	text-align: center;
}

.friend-img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 8px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.scroll-container2{
	display: flex;
	height: 300px;
	overflow: auto;
	padding: 15px;
	gap: 20px;
	scrollbar-width: none;
}

.amigos{
	height: 100%;
}

.list-group


.list-group-item {
	background-color: #FFFCEF;
	border: none;
	padding: 10px 0;
}

.text-muted {
	font-size: 0.9rem;
}

.amigos2{
	padding-bottom: 45px;
}

.pfp{
	height: 50px;
	width: 50px;
    object-fit: cover;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar{
	background-color: #F1E9CA;
	border-top: 1px solid #3E2308;
}